<div class="container" fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="100">
    <div>
      <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
      <hr>
    </div>
  </div>

  <div fxFlex="40">
    <div fxFlex *ngIf="dish" [@visibility]="visibility" [@expand]="expand">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span
              class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span
              class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div [hidden]="dish || dishErrMess">
      <mat-spinner></mat-spinner>
      <h4>Loading . . . Please Wait</h4>
    </div>
    <div fxFlex *ngIf="dishErrMess">
      <h2>Error</h2>
      <h4>{{dishErrMess}}</h4>
    </div>
  </div>

  <div fxFlex="40">
    <div *ngIf="dish" [@visibility]="visibility" [@expand]="expand">
      <h3>Comments</h3>
      <mat-list>
        <mat-list-item *ngFor="let item of dish.comments">
          <p matLine> {{item.comment}} </p>
          <p matLine> {{item.rating}} </p>
          <p matLine> -- {{item.author}} {{item.date | date}} </p>
        </mat-list-item>
      </mat-list>
    </div>
    <div [hidden]="dish || dishErrMess">
      <mat-spinner></mat-spinner>
      <h4>Loading . . . Please Wait</h4>
    </div>
    <div fxFlex *ngIf="dishErrMess">
      <h2>Error</h2>
      <h4>{{dishErrMess}}</h4>
    </div>

    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <mat-list>
        <mat-list-item *ngIf="!fform.form.invalid">
          <p matLine> {{ feedbackForm.value.comment }} </p>
          <p matLine> {{ feedbackForm.value.rating }} Stars</p>
          <p matLine> -- {{ feedbackForm.value.author }} </p>
        </mat-list-item>
      </mat-list>
      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
      </p>
      <mat-slider [max]="sliderCfg.max" [min]="sliderCfg.min" [step]="sliderCfg.step" [tickInterval]="tickInterval"
        [thumbLabel]="sliderCfg.thumbLabel" formControlName="rating" value="5">
      </mat-slider>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white"
        [disabled]="fform.form.invalid">Submit</button>
    </form>
  </div>


</div>
